<?xml version="1.0"?>
<robot name="box">

  <!-- Base -->
  <link name="base_link">
    <visual>
      <geometry><box size="1 1 0.05"/></geometry>
      <origin xyz="0 0 0"/>
    </visual>
  </link>

  <!-- Walls -->
  <link name="right_link">
    <visual>
      <geometry><box size="1 1 0.05"/></geometry>
      <origin xyz="0 0 0.5" rpy="1.5708 0 0"/>
    </visual>
  </link>

  <joint name="right_to_bottom" type="fixed">
    <parent link="base_link"/>
    <child link="right_link"/>
    <origin xyz="0 0.5 0"/>
  </joint>

  <link name="back_link">
    <visual>
      <geometry><box size="1 1 0.05"/></geometry>
      <origin xyz="0 0 0.5" rpy="1.5708 0 1.5708"/>
    </visual>
  </link>

  <joint name="back_to_bottom" type="fixed">
    <parent link="base_link"/>
    <child link="back_link"/>
    <origin xyz="-0.5 0 0"/>
  </joint>

  <link name="left_link">
    <visual>
      <geometry><box size="1 1 0.05"/></geometry>
      <origin xyz="0 0 0.5" rpy="1.5708 0 0"/>
    </visual>
  </link>

  <joint name="left_to_bottom" type="fixed">
    <parent link="base_link"/>
    <child link="left_link"/>
    <origin xyz="0 -0.5 0"/>
  </joint>

  <link name="front_link">
    <visual>
      <geometry><box size="1 1 0.05"/></geometry>
      <origin xyz="0 0 0.5" rpy="1.5708 0 1.5708"/>
    </visual>
  </link>

  <joint name="front_to_bottom" type="fixed">
    <parent link="base_link"/>
    <child link="front_link"/>
    <origin xyz="0.5 0 0"/>
  </joint>

  <!-- Lid -->
  <link name="top_link">
    <visual>
      <geometry><box size="1 1 0.05"/></geometry>
      <origin xyz="0.5 0 0"/>
    </visual>
  </link>

  <joint name="top_to_back" type="revolute">
    <axis xyz="0 -1 0"/>
    <parent link="back_link"/>
    <child link="top_link"/>
    <limit lower="0" upper="1.57" effort="1000" velocity="0.5"/>
    <origin xyz="0 0 1"/>
  </joint>

  <!-- Spring Base -->
  <link name="spring_base_link">
    <visual>
      <geometry><cylinder length="0.8" radius="0.1"/></geometry>
      <origin xyz="0 0 0.4"/>
    </visual>
  </link>

  <joint name="spring_base" type="fixed">
    <parent link="base_link"/>
    <child link="spring_base_link"/>
  </joint>

  <!-- Sliding Spring -->
  <link name="spring_link">
    <visual>
      <geometry><cylinder length="0.8" radius="0.07"/></geometry>
      <origin xyz="0 0 0.4"/>
    </visual>
  </link>

  <joint name="spring_joint" type="prismatic">
    <axis xyz="0 0 1"/>
    <parent link="spring_base_link"/>
    <child link="spring_link"/>
    <limit lower="0" upper="0.8" effort="1000" velocity="0.5"/>
  </joint>

  <!-- Jack -->
  <link name="jack">
    <visual>
      <geometry><sphere radius="0.08"/></geometry>
      <origin xyz="0 0 0.08"/>
    </visual>
  </link>

  <joint name="jack_attach" type="fixed">
    <parent link="spring_link"/>
    <child link="jack"/>
    <origin xyz="0 0 0.8"/>
  </joint>

</robot>
