# ROS 2 build artifacts
roscourse_ws/build/
roscourse_ws/install/
roscourse_ws/log/
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# Editor junk
.vscode/
.idea/

# Remove nested .git from teleop package
roscourse_ws/src/teleop_twist_keyboard/.git/
