<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- MATERIAL -->
  <material name="wood_brown">
    <color rgba="0.6 0.3 0.15 1.0"/>
  </material>

  <!-- BASE -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="1 1 0.05"/>
      </geometry>
      <material name="wood_brown"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>

  <!-- RIGHT -->
  <link name="right_link">
    <visual>
      <geometry>
        <box size="1 1 0.05"/>
      </geometry>
      <material name="wood_brown"/>
      <origin xyz="0 0 0.5" rpy="${pi / 2.0} 0 0"/>
    </visual>
  </link>

  <joint name="right_to_bottom" type="fixed">
    <parent link="base_link"/>
    <child link="right_link"/>
    <origin xyz="0 0.5 0" rpy="0 0 0"/>
  </joint>

  <!-- LEFT -->
  <link name="left_link">
    <visual>
      <geometry>
        <box size="1 1 0.05"/>
      </geometry>
      <material name="wood_brown"/>
      <origin xyz="0 0 0.5" rpy="${pi / 2.0} 0 0"/>
    </visual>
  </link>

  <joint name="left_to_bottom" type="fixed">
    <parent link="base_link"/>
    <child link="left_link"/>
    <origin xyz="0 -0.5 0" rpy="0 0 0"/>
  </joint>

  <!-- BACK -->
  <link name="back_link">
    <visual>
      <geometry>
        <box size="1 1 0.05"/>
      </geometry>
      <material name="wood_brown"/>
      <origin xyz="0 0 0.5" rpy="${pi / 2.0} 0 ${pi / 2.0}"/>
    </visual>
  </link>

  <joint name="back_to_bottom" type="fixed">
    <parent link="base_link"/>
    <child link="back_link"/>
    <origin xyz="-0.5 0 0" rpy="0 0 0"/>
  </joint>

  <!-- FRONT -->
  <link name="front_link">
    <visual>
      <geometry>
        <box size="1 1 0.05"/>
      </geometry>
      <material name="wood_brown"/>
      <origin xyz="0 0 0.5" rpy="${pi / 2.0} 0 ${pi / 2.0}"/>
    </visual>
  </link>

  <joint name="front_to_bottom" type="fixed">
    <parent link="base_link"/>
    <child link="front_link"/>
    <origin xyz="0.5 0 0" rpy="0 0 0"/>
  </joint>

  <!-- TOP (LID) -->
  <link name="top_link">
    <visual>
      <geometry>
        <box size="1 1 0.05"/>
      </geometry>
      <material name="wood_brown"/>
      <origin xyz="0.5 0 0" rpy="0 0 0"/>
    </visual>
  </link>

  <joint name="top_to_back" type="revolute">
    <axis xyz="0 -1 0"/>
    <parent link="back_link"/>
    <child link="top_link"/>
    <origin xyz="0 0 1" rpy="0 0 0"/>
    <limit effort="1000" lower="0" upper="${pi / 2.0}" velocity="0.5"/>
  </joint>

</robot>
